@model IEnumerable<ListaTelefonica.Models.Entidades.Contato>

@{
    ViewData["Title"] = "Index";
}

<h2>Bem Vindo a nossa Lista Telefonica</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaTelefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaEndereco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CPF)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ListaTelefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ListaEndereco)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { id = item.Id /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Detailhes", "Detalhes", new { id = item.Id /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Deletar", "Deletar", new { id = item.Id /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Create">Criar um novo contato</a>
</p>
